XTerm.termName: xterm-256color

XTerm.vt100.faceName: Terminus:pixelsize=24:regular
XTerm.vt100.font: 7x13

! Fix Backspace
XTerm*ttyModes:         erase ^?
XTerm*VT100.Translations: \
        #override <Key>BackSpace: string(0x7f) \n\
		  <Key>Delete:    string(0x1b) string("[3~")

! Copy & Paste
xterm*VT100.Translations: #override \
      Shift <KeyPress> Insert: insert-selection(CLIPBOARD) \n\
      Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
      Ctrl Shift <Key>C:    copy-selection(CLIPBOARD) \n\
      Ctrl <Btn1Up>: exec-formatted("xdg-open '%t'", PRIMARY)

*background:        #1c1c1c
*foreground:        #dfdfaf

*cursorColor:       #af875f
*colorUL:           #ffffff
*underlineColor:    #ffffff
!black
*color0:	#262626
*color8:	#626262
!red
*color1:	#af5f5f
*color9:	#af5f5f
!green
*color2:	#87875f
*color10:	#87875f
!yellow
*color3:	#af875f
*color11:	#af875f
!blue
*color4:	#878787
*color12:	#878787
!purple
*color5:	#af8787
*color13:	#af8787
!cyan
*color6:	#87afaf
*color14:	#87afaf
!white
*color7:	#dfdfaf
*color15:	#dfdfaf
